/Problema_1/nbproject/private/
/Problema_2/nbproject/private/
/Problema 1/Problema_1/nbproject/private/
/Problema 1/Problema_1/build/
/Problema 2/Problema_2/build/
/Problema 2/Problema_2/nbproject/private/
